# This file contains common pin mappings for the BigTreeTech SKR 3.
# To use this config, the firmware should be compiled for the
# STM32H743 with a "128KiB bootloader".

# See docs/Config_Reference.md for a description of parameters.

[include mainsail.cfg]

[stepper_a]
full_steps_per_rotation: 400
step_pin: PD4
dir_pin: !PD3
enable_pin: !PD6
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC1
#position_endstop: 363.46
#arm_length: 230.136
homing_speed: 50

[stepper_b]
full_steps_per_rotation: 400
step_pin: PA15
dir_pin: !PA8
enable_pin: !PD1
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC3

[stepper_c]
full_steps_per_rotation: 400
step_pin: PE2
dir_pin: !PE3
enable_pin: !PE0
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC0

[extruder]
full_steps_per_rotation: 400
step_pin: PD15
dir_pin: PD14
enable_pin: !PC7
microsteps: 16
rotation_distance: 33.500
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PB3
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA2
#control: pid
#pid_Kp: 22.2
#pid_Ki: 1.08
#pid_Kd: 114
min_temp: 0
max_temp: 250


[heater_bed]
heater_pin: PD7
# sensor_type: Generic 3950
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA1
#control: watermark
min_temp: 0
max_temp: 130

[fan]
pin: PB7

#[heater_fan fan1]
#pin: PB6

#[heater_fan fan2]
#pin: PB5

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h743xx_2B004F001951303130373234-if00

[printer]
kinematics: delta
max_velocity: 100
max_accel: 3000
max_z_velocity: 100
max_z_accel: 3000
# minimum_z_position: 0
minimum_z_position: -5
#delta_radius: 106.75 
print_radius: 225

[probe]
pin: ^PC15
z_offset: 0
speed: 3
samples: 10
samples_result: median


[bed_mesh]
speed: 120
horizontal_move_z: 5
mesh_radius: 90
mesh_origin: 0, 0
round_probe_count: 5
fade_start: 1
fade_end: 10
fade_target: 0

[delta_calibrate]
radius: 100

########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PC5, EXP1_3=PB1, EXP1_5=PE9,  EXP1_7=PE11, EXP1_9=<GND>,
    EXP1_2=PB0, EXP1_4=PE8, EXP1_6=PE10, EXP1_8=PE12, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PA6, EXP2_3=PE7, EXP2_5=PB2, EXP2_7=PC4,   EXP2_9=<GND>,
    EXP2_2=PA5, EXP2_4=PA4, EXP2_6=PA7, EXP2_8=<RST>, EXP2_10=<NC>

# See the sample-lcd.cfg file for definitions of common LCD displays.

########################################
# TMC2209 configuration
########################################

# [tmc2209 stepper_a]
# uart_pin: PD5
# run_current: 0.800
# diag_pin:

# [tmc2209 stepper_b]
# uart_pin: PD0
# run_current: 0.800
# diag_pin:

# [tmc2209 stepper_c]
# uart_pin: PE1
# run_current: 0.800
# diag_pin:

# [tmc2209 extruder]
# uart_pin: PC6
# run_current: 0.600
# diag_pin:

# [tmc2209 extruder1]
# uart_pin: PD12
# run_current: 0.600
# diag_pin:

########################################
# tmc5160 configuration
########################################
# [tmc5160 stepper_x]
# cs_pin: ar35
# #spi_software_sclk_pin: P0.4
# #spi_software_mosi_pin: P4.28
# #spi_software_miso_pin: P0.5
# microsteps: 16
# run_current: 0.8
# hold_current: 0.8
# sense_resistor: 0.075
# stealthchop_threshold: 100
# # spi_speed: 100000


[tmc5160 stepper_a]
cs_pin: PD5
spi_software_miso_pin: PE15
spi_software_mosi_pin: PE13
spi_software_sclk_pin: PE14
run_current: 0.800
stealthchop_threshold: 999999
diag1_pin: PC1

[tmc5160 stepper_b]
cs_pin: PD0
spi_software_miso_pin: PE15
spi_software_mosi_pin: PE13
spi_software_sclk_pin: PE14
run_current: 0.800
stealthchop_threshold: 999999
diag1_pin: PC3

[tmc5160 stepper_c]
cs_pin: PE1
spi_software_miso_pin: PE15
spi_software_mosi_pin: PE13
spi_software_sclk_pin: PE14
run_current: 0.650
stealthchop_threshold: 999999
diag1_pin: PC0

[tmc5160 extruder]
cs_pin: PC6
spi_software_miso_pin: PE15
spi_software_mosi_pin: PE13
spi_software_sclk_pin: PE14
run_current: 0.800
stealthchop_threshold: 999999
diag1_pin: PC2

#[tmc2130 extruder1]
#cs_pin: PD12
#spi_software_miso_pin: PE15
#spi_software_mosi_pin: PE13
#spi_software_sclk_pin: PE14
#run_current: 0.800
#stealthchop_threshold: 999999
#diag1_pin: PA0

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.012104, -0.012104, -0.012104, -0.012104, -0.012104
#*# 	  -0.008078, -0.008078, 0.004787, -0.040924, -0.040924
#*# 	  0.006251, -0.086955, 0.014763, 0.033526, -0.043368
#*# 	  -0.015199, -0.015199, -0.034008, -0.003933, -0.003933
#*# 	  -0.009772, -0.009772, -0.009772, -0.009772, -0.009772
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = -90.0
#*# max_x = 90.0
#*# min_y = -90.0
#*# max_y = 90.0
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 25.030
#*# pid_ki = 2.286
#*# pid_kd = 68.520
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 64.305
#*# pid_ki = 0.772
#*# pid_kd = 1338.348
#*#
#*# [printer]
#*# delta_radius = 106.399310
#*#
#*# [stepper_a]
#*# angle = 210.033566
#*# arm_length = 230.136000
#*# position_endstop = 363.682348
#*#
#*# [stepper_b]
#*# angle = 329.896500
#*# arm_length = 230.136000
#*# position_endstop = 363.196533
#*#
#*# [stepper_c]
#*# angle = 90.000000
#*# arm_length = 230.136000
#*# position_endstop = 363.740405
#*#
#*# [delta_calibrate]
#*# height0 = 0.0
#*# height0_pos = 58166.667,58166.667,58166.667
#*# height1 = 0.0
#*# height1_pos = 66895.000,66895.000,54068.000
#*# height2 = 0.0
#*# height2_pos = 57641.333,71747.333,57641.333
#*# height3 = 0.0
#*# height3_pos = 54169.000,65392.333,65392.333
#*# height4 = 0.0
#*# height4_pos = 57159.667,57159.667,67193.000
#*# height5 = 0.0
#*# height5_pos = 64017.667,54290.667,64017.667
#*# height6 = 0.0
#*# height6_pos = 69277.333,57345.333,57345.333
